name: Deploy

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

env:
    APP_WORKING_DIRECTORY: "./"

    ARTIFACT_REGISTRY: "us-docker.pkg.dev"
    ARTIFACT_REPOSITORY: "us-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ github.event.repository.name }}"

    GITHUB_TOKEN: ${{ secrets.GH_API_TOKEN }}

    DEPLOYMENT_NAME: "app"
    PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
    CLUSTER_NAME: ${{ secrets.GCP_CLUSTER_NAME }}
    LOCATION: ${{ secrets.GCP_LOCATION }}

jobs:
    # Create Tags for Release (Dry Run)
    release-dry-run:
        runs-on: ubuntu-latest
        name: "Dry Run Release Tag"
        if: github.event_name == 'pull_request'
        outputs:
            DRY_RUN_TAG: ${{ steps.tag_version.outputs.new_tag }}
        steps:
            - uses: actions/checkout@v4
            - name: Dry Run Release Tag
              id: tag_version
              uses: mathieudutour/github-tag-action@v6.2
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  dry_run: true

    # Create Tags for Release
    release-tag:
        runs-on: ubuntu-latest
        if: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' }}
        name: "Create Release Tag"
        outputs:
            RELEASE_TAG: ${{ steps.tag_version.outputs.new_tag }}
        steps:
            - uses: actions/checkout@v4
            - name: Release Tag
              id: tag_version
              uses: mathieudutour/github-tag-action@v6.2
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}

    create-release:
        name: "Create Release"
        runs-on: ubuntu-latest
        needs: ["terraform-apply", "release-tag"]
        steps:
            - name: "Checkout"
              uses: "actions/checkout@v4"

            - name: Create a GitHub release
              uses: ncipollo/release-action@v1
              with:
                  tag: ${{ needs.release-tag.outputs.RELEASE_TAG }}
                  name: Release ${{ needs.release-tag.outputs.RELEASE_TAG }}
                  body: ${{ needs.release-tag.outputs.RELEASE_TAG }}

    # Terraform Plan
    # Show the changes that will be applied
    # Outputs to the PR as a comment.
    terraform-plan:
        name: Terraform Plan
        runs-on: [ubuntu-latest]
        needs: [release-dry-run]
        permissions:
            contents: "read"
            id-token: "write"
            pull-requests: "write"
        defaults:
            run:
                shell: bash
                working-directory: ./.tf/
        steps:
            - name: "Checkout"
              uses: "actions/checkout@v4"

            - name: "Authenticate with Google"
              id: auth
              uses: "google-github-actions/auth@v2"
              with:
                  token_format: "access_token"
                  workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
                  service_account: ${{ secrets.WIF_SERVICE_ACCOUNT }}

            - name: "Set Up Cloud SDK"
              uses: "google-github-actions/setup-gcloud@v2"

            - name: "Set Up GKE Credentials"
              uses: "google-github-actions/get-gke-credentials@v2"
              with:
                  project_id: ${{ env.PROJECT_ID }}
                  cluster_name: ${{ env.CLUSTER_NAME }}
                  location: ${{ env.LOCATION }}

            - name: "Set Up Terraform"
              uses: "hashicorp/setup-terraform@v3"
              with:
                  terraform_wrapper: false

            - name: "Initialize Terraform"
              run: terraform init

            - name: "Check Terraform Formatting"
              run: terraform fmt -check -recursive

            - name: "Validate Terraform"
              id: validate
              run: terraform validate -no-color

            - name: "Terraform Plan"
              id: plan
              run: |
                  terraform plan -input=false -out=workspace.plan \
                      -var="repository_name=${{ github.event.repository.name }}" \
                      -var="container_image=${{ env.ARTIFACT_REPOSITORY }}/${{ env.DEPLOYMENT_NAME }}:${{ needs.release-dry-run.outputs.DRY_RUN_TAG }}" \
                      -var="default_project=${{ env.PROJECT_ID }}" \
                      -var="default_region=${{ env.LOCATION }}" \

            - name: Create String Output
              id: tf-plan-string
              run: |
                  TERRAFORM_PLAN=$(terraform show -no-color workspace.plan)

                  delimiter="$(openssl rand -hex 8)"
                  echo "summary<<${delimiter}" >> $GITHUB_OUTPUT
                  echo "## Terraform Plan Output" >> $GITHUB_OUTPUT
                  echo "<details><summary>Click to expand</summary>" >> $GITHUB_OUTPUT
                  echo "" >> $GITHUB_OUTPUT
                  echo '```terraform' >> $GITHUB_OUTPUT
                  echo "$TERRAFORM_PLAN" >> $GITHUB_OUTPUT
                  echo '```' >> $GITHUB_OUTPUT
                  echo "</details>" >> $GITHUB_OUTPUT
                  echo "${delimiter}" >> $GITHUB_OUTPUT

            - name: Publish Terraform Plan to Task Summary
              env:
                  SUMMARY: ${{ steps.tf-plan-string.outputs.summary }}
              run: |
                  echo "$SUMMARY" >> $GITHUB_STEP_SUMMARY

            # If this is a PR post the changes
            - name: Push Terraform Output to PR
              if: github.ref != 'refs/heads/main'
              uses: actions/github-script@v7
              env:
                  SUMMARY: "${{ steps.tf-plan-string.outputs.summary }}"
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  script: |
                      const body = `${process.env.SUMMARY}`;
                      github.rest.issues.createComment({
                          issue_number: context.issue.number,
                          owner: context.repo.owner,
                          repo: context.repo.repo,
                          body: body
                      })

    terraform-apply:
        name: "Apply Terraform"
        runs-on: [ubuntu-latest]
        needs: ["docker-push", "release-tag"]
        permissions:
            contents: "read"
            id-token: "write"
        defaults:
            run:
                shell: bash
                working-directory: ./.tf/
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Authenticate with Google
              id: auth
              uses: "google-github-actions/auth@v2"
              with:
                  token_format: "access_token"
                  workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
                  service_account: ${{ secrets.WIF_SERVICE_ACCOUNT }}

            - name: "Set up Cloud SDK"
              uses: "google-github-actions/setup-gcloud@v2"

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  cli_config_credentials_token: ${{ secrets.GH_API_TOKEN }}

            - name: Terraform Init
              run: terraform init

            - name: Terraform Apply
              if: github.ref == 'refs/heads/main' && github.event_name == 'push'
              run: |
                  terraform apply -auto-approve -input=false \
                      -var="repository_name=${{ github.event.repository.name }}" \
                      -var="container_image=${{ env.ARTIFACT_REPOSITORY }}/${{ env.DEPLOYMENT_NAME }}:${{ needs.release-tag.outputs.RELEASE_TAG }}" \
                      -var="default_project=${{ env.PROJECT_ID }}" \
                      -var="default_region=${{ env.LOCATION }}" \

    docker-push:
        name: "Push Image"
        runs-on: ubuntu-latest
        needs: [release-tag]
        permissions:
            contents: "read"
            id-token: "write"
        defaults:
            run:
                shell: bash
        steps:
            - name: "Checkout"
              uses: "actions/checkout@v4"

            - name: "Authenticate with Google"
              id: auth
              uses: "google-github-actions/auth@v2"
              with:
                  token_format: "access_token"
                  workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
                  service_account: ${{ secrets.WIF_SERVICE_ACCOUNT }}

            - name: "Set Up Cloud SDK"
              uses: "google-github-actions/setup-gcloud@v2"

            - name: "Login to Artifact Registry"
              uses: "docker/login-action@v3"
              with:
                  registry: ${{ env.ARTIFACT_REGISTRY }}
                  username: oauth2accesstoken
                  password: ${{ steps.auth.outputs.access_token }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: "Build and Push Image"
              id: docker-push-tagged
              uses: "docker/build-push-action@v6"
              with:
                  context: ${{ env.APP_WORKING_DIRECTORY }}
                  file: ${{ env.APP_WORKING_DIRECTORY }}/Dockerfile
                  build-args: "BUILD_ID=${{ github.sha }}"
                  push: true
                  tags: |
                      ${{ env.ARTIFACT_REPOSITORY }}/${{ env.DEPLOYMENT_NAME }}:latest
                      ${{ env.ARTIFACT_REPOSITORY }}/${{ env.DEPLOYMENT_NAME }}:${{ needs.release-tag.outputs.RELEASE_TAG }}
                  cache-from: "type=gha"
                  cache-to: "type=gha,mode=max"
